# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/
pip-wheel-metadata/

# Django
db.sqlite3
media/
staticfiles/
static_collected/
*.log

# Env/secrets
.env
.env.*
!.env.example

# VS Code
.vscode/

# Tests/tools caches
**/.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Docker/runtime data
data/
.pgdata/
docker-data/