# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/
pip-wheel-metadata/

# Django
db.sqlite3
media/
staticfiles/
static_collected/
*.log

# Env/secrets
.env
.env.*
!.env.example

# VS Code
.vscode/
.history/

# Docker
.pgdata/
docker-data/
**/node_modules/
**/.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Git
*.orig

# Runtime data
data/